<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
</head>
<body>
	<!-- 编号:<span th:text="${lookup.id}"></span>
	姓名:<span th:text="${lookup.name}"></span>
	<span th:if="${lookup.gender=='男'}">
		性别:<input type="radio" name="gender" value="男" checked="checked"/>男
	</span>
	<span th:if="${lookup.gender=='女'}">
		性别:<input type="radio" name="gender" value="男" checked="checked"/>男
	</span>
	年龄:<span th:text="${lookup.age}"></span> -->
	<form  th:object="${lookup}" method="">
		编号:<input type="text" th:value="${id}" th:field="*{id}"/><br/>
		姓名:<input type="text" th:value="${name}" th:field="*{name}"/><br/>
		性别:<input type="radio" value='男' th:field="*{gender}"/>男
			<input type="radio" value='女' th:field="*{gender}"/>女
		<br/>
		年龄:<input type="text" th:value="${age}" th:field="*{age}"/>
	</form>
</body>
</html>